[submodule "debugdevkit"]
	path = debugdevkit
	url = git@github.com:symphonycms/debugdevkit.git
[submodule "export_ensemble"]
	path = export_ensemble
	url = git@github.com:symphonycms/export_ensemble.git
[submodule "jit_image_manipulation"]
	path = jit_image_manipulation
	url = git@github.com:symphonycms/jit_image_manipulation.git
[submodule "maintenance_mode"]
	path = maintenance_mode
	url = git@github.com:symphonycms/maintenance_mode.git
[submodule "markdown"]
	path = markdown
	url = git@github.com:symphonycms/markdown.git
[submodule "profiledevkit"]
	path = profiledevkit
	url = git@github.com:symphonycms/profiledevkit.git
[submodule "selectbox_link_field"]
	path = selectbox_link_field
	url = git@github.com:symphonycms/selectbox_link_field.git
[submodule "xssfilter"]
	path = xssfilter
	url = git@github.com:symphonycms/xssfilter.git
[submodule "members"]
	path = members
	url = git@github.com:NielsenDigital/members.git
[submodule "subsectionmanager"]
	path = subsectionmanager
	url = git@github.com:NielsenDigital/subsectionmanager.git
[submodule "reflectionfield"]
	path = reflectionfield
	url = git@github.com:NielsenDigital/reflectionfield.git
[submodule "documenter"]
	path = documenter
	url = git@github.com:NielsenDigital/documenter.git
[submodule "richtext_tinymce"]
	path = richtext_tinymce
	url = git@github.com:NielsenDigital/richtext_tinymce.git
[submodule "search_index"]
	path = search_index
	url = git@github.com:NielsenDigital/search_index.git
[submodule "jquery_date_picker"]
	path = jquery_date_picker
	url = git@github.com:NielsenDigital/jquery_date_picker.git
[submodule "pagesfield"]
	path = pagesfield
	url = git@github.com:NielsenDigital/pagesfield.git
[submodule "uniqueuploadfield"]
	path = uniqueuploadfield
	url = git@github.com:NielsenDigital/uniqueuploadfield.git
